body {
    background-color: #f8f9fa;
    }

    .jumbotron {
    background-image: url('https://picsum.photos/id/1/1920/1080');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}