body {
    background-color: transparent;
}

.exterior{
    background-color: #D15B19;
    padding: 100px  ;
}
.container {
    border: 60px solid #E5A685;
    padding: 60px solid ;

}

.border {
    background-color:#9FCAE0;
    border: 60px solid #21d3eb;
    padding: 80px;
}